build/
build-arm64/
build-release/
build-win/
__pycache__
firmware.bin
.zencoder
build*/
build-test/
references/
old/
tools/
*.bin
third_party/libusb/windows/
android/app/.cxx/
android/.gradle/
android/local.properties
android/thingino-release.jks
web/dist/
web/public/wasm/
web/node_modules/
